{% extends 'layout.html' %}
{% block body %}

<div class="app-header">
  <ul class="breadcrumb">
    <li class="active">Home</li>
  </ul>
  <h1 class="app-title">Catalog</h1>
  <p class="lead app-description">
    <a href="{{url_for('newCategory')}}" class="btn btn-lg btn-default">Add Category</a>
  </p>
</div>

<div class="row">
  <div class="col-md-7">
    <h3>Latest Items</h3>
    {% for i in items %}
      <p>
        {{i.name}}
      </p>
    {% endfor %}
  </div>
  <div class="col-md-5">
    <h3>Categories</h3>
    {% for i in categories %}
      <p>
        <a href="{{url_for('showCategory', category_slug = i.slug)}}">
          {{i.name}}
        </a>
      </p>
    {% endfor %}
  </div>
</div>


{% endblock %}
