{% extends 'layout.html' %}

{% block body %}
  <!-- Breadcrumb of app -->
  <div class="app-header">
    <ul class="breadcrumb">
      <li><a href="{{ url_for('indexCatalog') }}">Home</a></li>
      <li>
        <a href="{{url_for('showCategory', category_slug = category.slug)}}">
          {{ category.name }}
        </a>
      </li>
      <li>
        <a href="{{url_for('showItem', category_slug = category.slug, item_id = item.id)}}">
          {{ item.name }}
        </a>
      </li>
      <li class="active">Delete</li>
    </ul>
    <h1 class="app-title">Delete Item</h1>
  </div>
  <!-- item delete form -->
  <h3>Are you sure you want to delete: {{ item.name }}?</h3>
  <form action="#" method = 'post'>
    <input type='submit', class ='btn btn-danger', value='Delete'>
  </form>
{% endblock %}
