{% extends 'layout.html' %}

{% block body %}

<div class="app-header">
  <h1 class="app-title">{{ item.name }}</h1>
  <p class="lead app-description">
    Category: {{ category.name }}
  </p>
</div>
<p>
  <b>Description:</b> {{ item.description }}
</p>

<hr>
<div class="panel panel-default">
  <div class="panel-heading">Edit "{{ item.name }}"</div>
  <div class="panel-body">
    <a class="btn btn-app" href="{{ url_for('editItem', category_slug = category.slug, item_id = item.id) }}">Edit</a>
    <a class="btn btn-danger" href="{{ url_for('deleteItem', category_slug = category.slug, item_id = item.id) }}">Delete</a>
  </div>
</div>

{% endblock %}
